html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  padding: 80px 0;
}

#equation-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#equation {
  font-size: 5em;
  color: #666;
}

#answer {
  padding: 20px 0;
  width: 400px;
  resize: none;
  font-size: 2rem;
  font-weight: 900;
  color: #888;
  text-align: center;
  border-radius: 2px;
}

#answer:hover {
  cursor: text;
}

#answer:focus {
  outline: none;
}

.incorrect {
  border: 4px lightcoral solid;
}

.neutral {
  border: 4px #888 solid;
}

.correct {
  border: 4px lightgreen solid;
}

.focused {
  border: 4px #eee solid;
}